body {
    margin: 0;
    padding: 0;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

body {
    width: 100%;
    height: 100%;
}

.navbar {
    padding: .2rem .4rem;
}
.bd-navbar {
    min-height: 4rem;
    background-color: #2F373F;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    border-color: #84ab3f;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

    .bd-navbar .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        color: #cbbde2;
    }

        .bd-navbar .navbar-nav .nav-link:hover {
            color: #fff;
            background-color: transparent;
        }

.bd-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
}

i.nav-icon {
   margin-right:8px;
   font-size:20px;
}

.display-block{
    display: block;
}
.txt-align-center {
    text-align: center;
}
.l-pad-10 {
    padding-left: 10px;
}

.l-mar-10 {
    margin-left: 10px;
}
.l-mar-20 {
    margin-left: 20px;
}
.r-pad-10 {
    padding-right: 10px;
}
.r-mar-10 {
    margin-right: 10px;
}
.r-mar-20 {
    margin-right: 20px;
}
.b-pad-10 {
    padding-bottom: 10px;
}
.b-pad-20 {
    padding-bottom: 20px;
}
.b-pad-30 {
    padding-bottom: 30px;
}
.b-pad-40 {
    padding-bottom: 40px;
}
.b-pad-50 {
    padding-bottom: 50px;
}
.b-pad-60 {
    padding-bottom: 60px;
}
.b-pad-70 {
    padding-bottom: 70px;
}
.b-pad-80 {
    padding-bottom: 80px;
}
.b-pad-90 {
    padding-bottom: 90px;
}
.b-pad-100 {
    padding-bottom: 100px;
}
.b-pad-200 {
    padding-bottom: 200px;
}
.t-pad-10 {
    padding-top: 10px;
}
.t-pad-20 {
    padding-top: 20px;
}
.t-pad-30 {
    padding-top: 30px;
}
.t-pad-40 {
    padding-top: 40px;
}
.t-pad-50 {
    padding-top: 50px;
}
.t-pad-60 {
    padding-top: 60px;
}
.t-pad-70 {
    padding-top: 70px;
}
.t-pad-80 {
    padding-top: 80px;
}
.t-pad-90 {
    padding-top: 90px;
}
.t-pad-100 {
    padding-top: 100px;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




