.search-bar {
    margin: 20px;
    text-align: center;
}

    .search-bar input {
        width: 65%;
    }
.media-left {
    padding-right: 8px;
}

.media-heading {
    margin: 0 0 4px 0;
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 1.1rem;
}
.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.row {
     margin-right: 0px; 
     margin-left: 0px; 
}

.list-group-item {
    cursor: pointer;
}

    .list-group-item:hover {
        background-color: #eee;
    }


@media (max-width: 991px) {
    .search-bar input {
        width: 75%;
    }

    /*.col-md-8 {
         flex: 0 0 100%; 
         max-width: 100%; 
    }*/
    .col-lg-4 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .list-group {
        padding-top:20px;
    }
}

@media (max-width: 768px) {
    .search-bar {
        margin: 10px;
    }
    .search-bar input {
        width: 100%;
    }
    .col-lg-4, .col-lg-8 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .media-heading {
        margin: 0 0 4px 0;
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.0rem;
    }
}